{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam List</title>
</head>
<body>
    <!-- Container for Navigation bar; header for homepage-->
    <header>
        <nav id = "NavigationBar">
            <img id = "LSBU_Logo" src = "{% static '../static/Images/LSBU Logo.png' %}">
            <!--The dropdown box below -->
            <ul class = "infoCon">
                <li>Information</li>
                <ul class = "infoDropdown">
                    <li id = "Info_ER"><a href = "/">Exam Rules</a></li>
                    <li id = "Info_GEP"><a href = "/">General Exam Procedures</a></li>
                </ul>

                <li class = "ExamTopLink" ><a href = "/exam">Exam</a></li>
            </ul>

            <button id = "LoginB">Login</button>
        </nav>
    </header>

    <section class = "sections" id = "TopSect">
        <div class = "TopText">
            Type up your <b>module name</b> on the <b>search bar</b>, then the exam details you’re looking for will come up.
        </div>
        <div class = "TopText">
            If there are no exam details, wait a few days for your module leader/invigilator to update it.
        </div>
        <div class = "TopText">
            For any questions email us: exams@lsbu.ac.uk
        </div>

        <input class = "searchExamBar" placeholder = "Type your module name..." >
    </section>

    <section class = "sections" id = "Exam_Modules">

        <!-- This will display the exam on the oublic page accessible for students and Invigilators -->
        <div class = "ModuleCon">
            <img id = "Module_Img" src = "{% static '../static/Images/computer-science.jpg' %}">
            <div class = "InfoCon">
                <div id = "InfoTitle">
                    <a href = "timer">Module Name: Operating System</a>
                </div>
                <div id = "InfoDate">Date: Monday 5th August 2024</div>
                <div id = "InfoTime">Time Allocated: 2-4pm</div>
                <div id = "InfoLoc">Location: Sports Hall</div>
            </div>
        </div>

        <div class = "ModuleCon">
            <img id = "Module_Img" src = "{% static '../static/Images/Biomedical Science.jpg' %}">
            <div class = "InfoCon">
                <div id = "InfoTitle">
                    <a href = "#">Module Name: Cellular Pathology and Imaging</a>
                </div>
                <div id = "InfoDate">Date: Monday 5th August 2024</div>
                <div id = "InfoTime">Time Allocated: 9-11am</div>
                <div id = "InfoLoc">Location: Perry Building, 3rd Floor Computer Rooms.</div>
            </div>
        </div>

        <div class = "ModuleCon">
            <img id = "Module_Img" src = "../static/Images/Civil Engineering.jpeg">
            <div class = "InfoCon">
                <div id = "InfoTitle">
                    <a href = "#">Module Name: Geotechnical Engineering</a>
                </div>
                <div id = "InfoDate">Date: Wednesday 7th August 2024</div>
                <div id = "InfoTime">Time Allocated: 12-2pm</div>
                <div id = "InfoLoc">Location: Faraday Building, Room 202.</div>
            </div>
        </div>


    </section>

</body>
</html>