{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam List</title>
</head>
<body>
    <!-- Container for Navigation bar; header for homepage-->
    <header>
        <nav id = "NavigationBar">
            <img id = "LSBU_Logo" src = "{% static '../static/Images/LSBU Logo.png' %}">
            <!--The dropdown box below -->
            <ul class = "infoCon">
                <li>Information</li>
                <ul class = "infoDropdown">
                    <li id = "Info_ER"><a href = "/">Exam Rules</a></li>
                    <li id = "Info_GEP"><a href = "/">General Exam Procedures</a></li>
                </ul>

                <li class = "ExamTopLink" ><a href = "/exam">Exam</a></li>
            </ul>

            <button id = "LoginB">Login</button>
        </nav>
    </header>

    <section class = "sections" id = "TopSect">
        <div class = "TopText">
            Type up your <b>module name</b> on the <b>search bar</b>, then the exam details you’re looking for will come up.
        </div>
        <div class = "TopText">
            If there are no exam details, wait a few days for your module leader/invigilator to update it.
        </div>
        <div class = "TopText">
            For any questions email us: exams@lsbu.ac.uk
        </div>

        <input class = "searchExamBar" placeholder = "Type your module name..." >
    </section>

    <section class = "sections" id = "Exam_Modules">

        <!-- This will contain database dynamic data -->
         <!-- Data will be extracted from the database to be presented as information for students to view on th epublic webpage. -->

        <!-- Dynamic data variable will be contained in  this: {{}} -->
        <div class = "ModuleCon">
            <img id = "Module_Img" src = {{}}>
            <div class = "InfoCon">
                <div id = "InfoTitle">Module Name: {{}}</div>
                <div id = "InfoDate">Date: {{}}</div>
                <div id = "InfoTime">Time Allocated: {{}}</div>
                <div id = "InfoLoc">Location: {{}}</div>
            </div>
        </div>
    </section>

</body>
</html>