<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Management Information System</title>
</head>
<body>
    <header>
        <nav>
            <img src = "">
            <!--The dropdown box below -->
            <ul class = "infoCon">
                <li>Information</li>
                <ul class = "infoDropdown">
                    <li>Exam Rules</li>
                    <li>General Exam Procedures</li>
                </ul>
            </ul>

            <button id = "LoginB">Login</button>
        </nav>
    </header>
</body>
</html>