<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <header>
        <nav id = "NavigationBar">
            <img id = "LSBU_Logo" src = "{% static '../static/Images/LSBU Logo.png' %}">
            <!--The dropdown box below -->
            <ul class = "infoCon">
                <li>Information</li>
                <ul class = "infoDropdown">
                    <li id = "Info_ER"><a href = "/">Exam Rules</a></li>
                    <li id = "Info_GEP"><a href = "/">General Exam Procedures</a></li>
                </ul>
                <li class = "ExamTopLink" ><a href = "/exam">Exam</a></li>
            </ul>

            <button id = "LoginB">Login</button>
        </nav>
    </header>
    
</body>
</html>