{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type ="text/css" href = "{% static '../static/Timer/timer.css' %}" >
    <title>Exam Timer</title>
</head>
<body>
    <header>

        <ul>
            <li>
                <img id = "LSBU_Logo" src = "{% static '../static/Images/LSBU Logo.png' %}">
            </li>

            <li>
                <a href = "#">Information ˅</a>
                <ul class = "infoDropdown">
                    <li id = "Info_ER"><a href = "/">Exam Rules</a></li>
                    <li id = "Info_GEP"><a href = "/">General Exam Procedures</a></li>
                </ul>
            </li>

            <li class = "ExamTopLink">
                <a href = "/exam">Exam</a>
            </li>

            <li>
                <button id = "LoginB">Login</button>
            </li>
        </ul>
        <!--
        <nav id = "NavigationBar">
            <img id = "LSBU_Logo" src = "{% static '../static/Images/LSBU Logo.png' %}">
            <!--The dropdown box below 
            <ul class = "infoCon">
                <li>Information</li>
                <ul class = "infoDropdown">
                    <li id = "Info_ER"><a href = "/">Exam Rules</a></li>
                    <li id = "Info_GEP"><a href = "/">General Exam Procedures</a></li>
                </ul>
                <li class = "ExamTopLink" ><a href = "/exam">Exam</a></li>
            </ul>

            <button id = "LoginB">Login</button>
        </nav>
        -->
    </header>

    <!-- Timer webpage will display the live exam, the live status, the timer, exam rules and the exam report form -->

    <section class = "sections" id = "TopSection">
        <div class = "OS_Title">Operating Systems</div>
        <div class = "status">Live Status: Commencing...</div>

        <!-- Below are the two circle icons to animate -- This would be my dynamic element -->
        <div class = "Encircle_AnimCon">
            <img id = "Encircle_One" src = "{% static '../static/Images/Yellow Circle.png' %}">
            <img id = "Encircle_Two" src = "{% static '../static/Images/Yellow Circle.png' %}">
        </div>

        <div class = "TimerCon">
            <div id = "TimerTitle">Countdown Timer</div>
            <div class = "UnitWrap">
                <div class = "NumWrap">
                    <div class = "NumCon" id = "daysUpdate">00</div>
                    <div class = "Num" id = "days">Days</div>
                </div>

                <div class = "NumWrap">
                    <div class = "NumCon" id = "hoursUpdate">00</div>
                    <div class = "Num" id = "hours">Hours</div>
                </div>

                <div class = "NumWrap">
                    <div class = "NumCon" id = "minutesUpdate">00</div>
                    <div class = "Num" id = "minutes">Minutes</div>
                </div>

                <div class = "NumWrap">
                    <div class = "NumCon" id = "secondsUpdate">00</div>
                    <div class = "Num" id = "seconds">Seconds</div>
                </div>
            </div>
        </div>

    </section>

    <section class = "sections" id = "ExamRulesSect">
        <div class = "Title">Exam Rules</div>
        <div class = "ER_Con">
            <div class = "ER_Group" id = "ER_One">1. No toilet breaks, the first and last 30 minutes of the exam.</div>
            <div class = "ER_Group" id = "ER_Two">2. All student devices are turned off and placed in their bags.</div>
            <div class = "ER_Group" id = "ER_Three">3. No eating during the exam.</div>
            <div class = "ER_Group" id = "ER_Four">4. Ask the invigilators for any concerns(e.g. before the toilet).</div>
            <div class = "ER_Group" id = "ER_Five">5. Whisper when communicating with invigilators.</div>
        </div>
    </section>

    <section class = "sections" id = "Exam_Report_Form">
        <div class = "ExamReport_Title">Exam Report</div>
        <div class = "EReport_Subtext">
            This is an optional feedback form, to be filled in by invigilators, if they intend to do so.
        </div>
        
        <form class = "ERep_FormCon" action = "/timer" method="POST">
            {% csrf_token %}
            <label for = "module" class = "formLabel" id = "module">Module Name</label><br>
            <input type = "text" class = "inputBox" id = "module" name = "module" placeholder = "Enter Exam Module Name...">
            <label for = "queries" class = "formLabel" id = "queriesLabel">
                Queries, questions or other statements to report
            </label><br>
            <input type = "text" class = "inputBox" id = "queries" name = "queries" placeholder = "Type your report here...">

            <button id = "formSubmit" type ="submit">Submit</button>
        </form>
        
    </section>

    <footer>
        <div class = "homepageLinkCon">
            <a href = "https://www.lsbu.ac.uk/" class = "homeFootLink">Back To LSBU Homepage</a>
        </div>

        <div>
            &copy; London South Bank University
        </div>
    </footer>

    <script src = "{% static '../static/Timer/timer.js' %}"></script>

</body>
</html>